<html>
  <head>
    <title>Trina's Lil Cakes!</title>
  </head>

  <body>
    <div class="info">
      <div class="logo">
        <%= image_tag("logo.png", size: "120x120") %>
        <h1 id="title">Trina's Lil' Cakes</h1>
        <h6 id="author">by: Trina Nicolasin</h6>
      </div>

      <div class="tabs">
        <ul class="tab-links">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <div class="tab-content">

          <div id="home" class="tab active">
            <div class="featured">
              <div class="image">
                <%= image_tag("sample.jpg", size: "305x230") %>
              </div>
            </div>
            <%= render "bio" %>
          </div>

          <div id="menu" class="tab">
              <div class="featured">
                  <div class="image">
                    <%= image_tag("fishcake.jpg", size: "270x230") %>
                    <%= render "menu" %>
                </div>
              </div>
          </div>

          <div id="contact" class="tab">
            <div class="featured">
              <div class="image">
                <%= image_tag("swimcake.jpg", size: "305x230") %>
              </div>
            </div>
            <h2 class="topic">Email Me!</h2>
            <%= link_to "Contact", contacts_path %>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>

